/* FONTES -> BUNNER */ @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --font-pop: 'Poppins', sans-serif;
    --metais-alcalinos: #faad08;
    --metais-alcalinosterrosos: #FFE100;
    --metais-deTransicao: #03658C;
    --lantanideos: #6af75e;
    --actinideos: #f5a3b4;
    --familia-doBoro: #E849B8;
    --familia-doCarbono: #B99EE8;
    --familia-doNitrogenio: #038C65;
    --calcogenios: #F2668B;
    --halogenios: #049DD9;
    --gases-nobres: #803DDB;

    --metais: #E38717;
    --nao-metais: #6B94FF;

    --solido: rgb(0, 0, 0);
    --liquido: rgb(0, 0, 255);
    --gas: rgb(172, 0, 0);
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Pagina de Inicio */

#backdropfilter{
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
}

#bunner{
    overflow: hidden;
    color: white;
    font-family: var(--font-pop);
}

#bunnerTittle1{
    line-height: 50%;
    font-size: 110px;
    text-align: center;
}

#bunnerTittle2{
    font-size: 55px;
    text-align: end;
}

#proceedButton button{
    padding: 10px 20px;
    height: auto;
    width: auto;
    cursor: pointer;
    appearance: none;
    text-decoration: none;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    font-size: 35px;
    margin: 50px;
    transition: all .55s ease;
}

#proceedButton a{
    text-decoration: none;
    color: white;
}

#proceedButton button:hover{
    background-color: rgba(255, 255, 255, 0.02);
    transform: translateY(10px);
}

/* Inicio Tabela Periodica */

#transition{
    margin-top: -5vh;
    position: absolute;
    background-image: linear-gradient(to bottom, transparent, rgb(255, 255, 255));
    height: 5vh;
    width: 100%;
}

#periodicTable{
    font-family: 'Poppins', sans-serif;;
    height: 120vh;
}

#periodicTable #mesa{
    display: flex;
    width: 100vw;
    height: 120vh;
    align-items: center;
    justify-content: center;
}

#periodicTable table{
    border-collapse: separate;
    border-spacing: 10px;
}

#periodicTable td{
    cursor: pointer;
    text-align: center;
    width: 75px;
    height: 75px;
    box-shadow: 0px 0px 5px 0px black;
    transition: all .2s ease;
}

#periodicTable td:hover{
    filter: brightness(120%);
}

#periodicTable .vacuo{
    cursor: default;
    border: 0px;
    box-shadow: 0px 0px 0px;
}

#periodicTable .vacuo:hover{
    box-shadow: none;
    filter: brightness(100%);
}

/* Elementos da Tabela Periodica -> Grupos/Familias */

.naoMetal{ background-color: var(--nao-metais) !important; }
.metal{ background-color: var(--metais) !important; }
.alcalino{ background-color: var(--metais-alcalinos) ;}
.terroso{ background-color: var(--metais-alcalinosterrosos)  }
.metaisTransicao{ background-color: var(--metais-deTransicao); }
.familiaBoro{ background-color: var(--familia-doBoro); }
.familiaCarbono{ background-color: var(--familia-doCarbono); }
.familiaNitrogenio{ background-color: var(--familia-doNitrogenio); }
.calcogenio{ background-color: var(--calcogenios); }
.halogenio{ background-color: var(--halogenios); }
.gasNobre{ background-color: var(--gases-nobres) }
.solido{ color: var(--solido);font-weight: 500;}
.liquido{ color: var(--liquido); font-weight: 500;}
.gas{ color: var(--gas); font-weight: 500;}
.lantanideo{background-color: var(--lantanideos) }
.actinideo{background-color: var(--actinideos) }

#periodicTable td.numeroposicao{
    box-shadow: 0px 0px 0px transparent;
}

#periodicTable .familias{
    justify-content: space-around;
    text-align: center;
    display: flex;
}

#periodicTable .familias div{
    padding: 5px;
    margin: 0px 10px;
}

#periodicTable #legenda{
    box-shadow: 0px 0px 0px transparent;
}

#periodicTable #legenda:hover{
    filter: brightness(100%);
}

input[type="range"]{
    border-radius: 3rem;
    width: 90%;
    appearance: none;   
    background-image: linear-gradient(90deg, #0011ff 0%, #ffffff 22%, #e3ff00 49%, #ff7b00 75%, #ff0003 100%);
    height: 15px;
    transform-origin: 400px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    background-color: black;
    width: 18px;
    height: 18px;
    border-radius: 100%;
}

input[type="text"]{
    color: black;
    appearance: none;
    background-color: white;
    border: 0px;
    font-size: 25px;
    text-align: center;
}

.curiosidades{
    border-radius: 10px;
    text-align: left;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    display: flex;
    margin: auto;
    height: 50vh;
    width: 500px;
    top: 25vh;
    left: calc(50vw - 250px);
    position: fixed;
    display: none;
}
.curiosidades div{
    border-radius: 8px 8px 0px 0px;
    background-color: black;
    color: white;
    padding-bottom: 35px;
}

.popTitulo{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}
.popInfo{
    font-weight: 300;
    margin: 20px 40px;
}
.curiosidades .xbar{
    padding-right: 15px;
    text-align: end;
    padding-bottom: 5px;
}
.fechar{
    color: white;
    background-color: black;
    text-align: center;
    border: 0px;
    padding: 5px;
    font-size: 20px;
    font-weight: 900;
    font-family: var(--font-pop);
    cursor: pointer;
}
.fechar:hover{
    background-color: rgb(56, 56, 56);
}

#invisivel{
    height: 100vh;
    width: 100vw;
    display: none;
    position: absolute;
}

.elemento{
    font-weight: 500;
}

.mouse{
    font-weight: 400 !important;
}

.numAtomico{
    text-indent: 10px;
    text-align: start;
    font-size: 12px;
}
.massaAtomica{
    text-align: center;
    font-size: 12px;
}

@media (max-width: 1500px) {
    #backdropfilter{
        display: flex;
        flex-direction: column;
    }
    
    #bunnerTittle1{
        line-height: 100%;
        font-size: 110px;
        text-align: center;
    }
    
    #bunnerTittle2{
        font-size: 55px;
        text-align: center;
    }

    #periodicTable .table{
        overflow: hidden;
        display: flex;
        width: 90vw;
        overflow: hidden;
        overflow-x: visible;
        justify-content: flex-start;
    }

    td{
        max-width: 70px;

    }

}
@media (max-width: 500px) {
    .curiosidades{
        left: 5vw;
        position: fixed;
        width: 90vw;
        left: calc(50vw - 200px);
    }

    #bunnerTittle1{
        font-size: 90px;
        text-align: center;
    }
    
    #bunnerTittle2{
        font-size: 35px;
        text-align: center;
    }

}

@media (max-width: 430px) {

    #bunnerTittle1{
        font-size: 60px;
        text-align: center;
    }
    
    #bunnerTittle2{
        font-size: 25px;
        text-align: center;
    }

}